<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delicoffee.deli.mapper.DeliVoucherOrderMapper">

    <resultMap id="BaseResultMap" type="com.delicoffee.deli.model.entity.DeliVoucherOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="voucher_id" column="voucher_id" jdbcType="BIGINT"/>
            <result property="pay_type" column="pay_type" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="pay_time" column="pay_time" jdbcType="TIMESTAMP"/>
            <result property="use_time" column="use_time" jdbcType="TIMESTAMP"/>
            <result property="refund_time" column="refund_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,voucher_id,
        pay_type,status,create_time,
        pay_time,use_time,refund_time,
        update_time
    </sql>
</mapper>
